/* burger */
.burger {
    display: none;
}
label {
    cursor: pointer;
}
.burger-icon {
    width: 100%;
    scale: 1;
    border: 0;
    margin: 0;
}
.burger-icon,
.burger-icon::before,
.burger-icon::after {
    display: block;
    border-radius: 2px;
    height: 2.5px;
    background: var(--color-text-primary)
}
.burger-icon::before,
.burger-icon::after {
    content: "";
    position: absolute;
    width: 70%;
}
.burger-icon::before {
    top: -6px;
    right: 0;
}
.burger-icon::after {
    top: 6.5px;
    left: 0;
}
.burger-icon::before,
.burger-icon::after {
    transition-duration: 0.15s;
    transition-timing-function: linear;
}
.burger input {
    position: absolute;
    scale: 0;
    margin: 0;
    padding: 0;
}
.burger input:checked ~ .burger-icon {
    background-color: transparent;
}
.burger input:checked ~ .burger-icon::before,
.burger input:checked ~ .burger-icon::after {
    width: 30px;
}
.burger input:checked ~ .burger-icon::before {
    transform: rotate(-45deg);
    top: 0px;
}
.burger input:checked ~ .burger-icon::after {
    transform: rotate(45deg);
    top: 0px;
}

@media (max-width: 480px) {
    header, #home, #services, #faq, #contact, footer{
        padding: 1.5rem;
    }
    /* hamburger menu */
    #menu-theme-switch{
        color: var(--color-text-primary);
        background: none;
        border: none;
        transition: color .2s ease-in-out;
    }   
    #menu-theme-switch i{
        font-size: 2.375rem;
        cursor: pointer;
    }
    #menu-theme-switch:hover{
        color: var(--color-text-secondary);
    }
    #menu-theme-switch i{
        font-size: 30px;
    }
    #logo{
        font-size: 1.2rem;
    }
    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }
    .links, .actions{
        display: none;
    }
    .menu-links{
        list-style-type: none;
    }
    .menu-links a{
        display: block;
        text-decoration: none;
        color: var(--color-text-secondary);
        padding: .75rem 1rem;
    }
    .menu-actions{
        display: flex;
        justify-content: space-between;
        padding: .75rem 1rem;
    }
    #menu-contact-btn{
        text-decoration: none;
        color: #fcfcfc;
        background-color: var(--color-accent-secondary);
        padding: .5rem 4rem;
        border-radius: 40px;
        font-weight: 300;
    }
    body.open .menu{
        max-height: 600px;
        overflow: hidden;
        position: fixed;
        top: calc(var(--header-height) + calc(var(--gap) * 2)) ;
        left: 10px;
        right: 10px;
        z-index: 999;
        gap: 1rem;
        border-radius: 25px;
        padding: 25px;
        box-sizing: border-box;
        text-align: left;
        background-color: var(--color-bg-secondary);
        box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    }
    #menu-theme-switch i:last-child {
        display: none;
    }
    .lightmode #menu-theme-switch i:first-child {
        display: none;
    }
    .lightmode #menu-theme-switch i:last-child {
        display: block;
    }
    /* hero */
    .hero-section{
        gap: 3rem;
    }
    .hero-intro{
        gap: 3rem;
    }
    .hero-content{
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .status{
        font-size: .75rem;
        padding: .4rem 1rem;
    }
    .intro-text{
        gap: 1rem;
    }
    .welcome-text{
        font-size: 1.25rem;
    }
    .name-title{
        line-height: 1.3;
    }
    .name-title h1{
        font-size: 2rem;
    }
    .name-title h2{
        font-size: 1.4rem;
    }
    .description{
        gap: 2rem;
    }
    .description p{
        font-size: .85rem;
    }
    .logo{
        display: flex;
    }
    .logo img{
        width: 45%;
        border-width: 8px;
    }
    .buttons{
        width: 100%;
        flex-direction: column;
        gap: .3rem;
    }
    .btn{
        justify-content: center;
        font-size: 1.2rem;
        padding: .75rem;
    }
    .alert{
        width: 100%;
    }
    /* services */
    .services-section{
        gap: 30px;
    }
    .services-header h3{
        font-size: 1.15rem;
    }
    .services-header h2{
        font-size: 1.75rem;
    }
    .services-cards{
        flex-direction: column;
        gap: 10px;
    }
    .card{
        max-width: none;
    }
    /* faq */
    .faq-section{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .faq-right{
        align-items: center;
    }
    .faq-right h2{
        font-size: 1.75rem;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .faq-header{
        line-height: 1.6;
    }
    .faq-right h3{
        font-size: 1.15rem;
        text-align: center;
        color: var(--color-text-secondary);
        font-weight: var(--weight-medium);
    }
    .faq-right svg{
        display: none;
    }
    /* contact */
    .contact-section{
        flex-direction: column;
        gap: 30px;
    }
    .contact-left{
        max-width: 100%;
    }
    .contact-left h2{
        font-size: 1.75rem;
        line-height: 2.5rem;
    }
    .contact-desc{
        font-size: 1rem;
    }
    .form-actions{
        flex-direction: column;
        gap: 5px;
    }
    .form-btn{
        padding: 15px;
        border-radius: 30px;
        font-size: 1rem;
    }
    .footer-copy{
        font-size: 1rem;
    }
    .footer-socials{
        gap: 15px;
    }
    .footer-socials i{
        font-size: 1.75rem;
    }
    :lang(cs-CZ) .status-label::before{ content: "K dispozici"; }
    :lang(en) .status-label::before{ content: "Available"; }
}
/* phone-small tablet */
@media (min-width: 481px) and (max-width: 768px) {
    header, main, footer{
        width: 100%;
        max-width: 700px;
    }
    header, footer{
        padding: 1rem 1.5rem;
    }
    #menu-theme-switch{
        color: var(--color-text-primary);
        background: none;
        border: none;
        transition: color .2s ease-in-out;
    }   
    #menu-theme-switch i{
        font-size: 2.375rem;
        cursor: pointer;
    }
    #menu-theme-switch:hover{
        color: var(--color-text-secondary);
    }
    #menu-theme-switch i{
        font-size: 30px;
    }
    #logo{
        font-size: 1.2rem;
    }
    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }
    .links, .actions{
        display: none;
    }
    .menu-links{
        list-style-type: none;
    }
    .menu-links a{
        display: block;
        text-decoration: none;
        color: var(--color-text-secondary);
        padding: .75rem 1rem;
    }
    .menu-actions{
        display: flex;
        justify-content: space-between;
        padding: .75rem 1rem;
    }
    #menu-contact-btn{
        text-decoration: none;
        color: #fcfcfc;
        background-color: var(--color-accent-secondary);
        padding: .5rem 4rem;
        border-radius: 40px;
        font-weight: 300;
    }
    .menu{
        max-width: 700px;
        max-height: 600px;
    }
    body.open .menu{
        height: fit-content;
        overflow:hidden;
        position: fixed;
        top: calc(var(--header-height) + calc(var(--gap) * 2)) ;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        gap: 1rem;
        border-radius: 25px;
        padding: 25px;
        box-sizing: border-box;
        text-align: left;
        background-color: var(--color-bg-secondary);
        box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
        width: 100%;
    }
    #menu-theme-switch i:last-child {
        display: none;
    }
    .lightmode #menu-theme-switch i:first-child {
        display: none;
    }
    .lightmode #menu-theme-switch i:last-child {
        display: block;
    }
    #home, #services, #faq, #contact{
        padding: 2rem 2.5rem;
    }
    /* hero */
    .hero-section{
        gap: 3rem;
    }
    .hero-intro{
        gap: 3rem;
    }
    .hero-content{
        flex-direction: column-reverse;
        gap: 2rem;
        width: 100%;
    }
    :lang(cs-CZ) .status-label::before{ content: "K dispozici"; }
    :lang(en) .status-label::before{ content: "Available"; }
    .intro-text{
        width: 100%;
    }
    .description{
        gap: 2rem;
    }
    .description p{
        max-width: 100%;
    }
    .logo{
        width: 100%;
    }
    .logo img{
        width: 35%;
        border-width: 10px;
    }
    /* services */
    .services-cards{
        flex-direction: column;
        gap: 20px;
    }
    .card{
        max-width: 100%;
        min-height: fit-content;
        padding: 2rem;
    }
    .card-content{
        flex-direction: row;
        gap: 40px;
    }
    .card-content i{
        height: fit-content;
    }
    .service-btn{
        text-align: center;
    }
    /* faq */
    .faq-section{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .faq-header{
        width: 100%;
        text-align: center;
    }
    .faq-header h3{
        text-align: center;
    }
    .faq-right svg{
        display: none;
    }
    /* contact */
    .contact-section{
        flex-direction: column;
        gap: 30px;
    }
    .contact-left{
        max-width: 100%;
    }
    /* footer */
    footer{
        padding: 1rem 1.5rem;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    header, main, footer{
        width: 100%;
        max-width: 700px;
    }
    /* hamburger menu */
    #menu-theme-switch{
        color: var(--color-text-primary);
        background: none;
        border: none;
        transition: color .2s ease-in-out;
    }   
    #menu-theme-switch i{
        font-size: 2.375rem;
        cursor: pointer;
    }
    #menu-theme-switch:hover{
        color: var(--color-text-secondary);
    }
    #menu-theme-switch i{
        font-size: 30px;
    }
    #logo{
        font-size: 1.2rem;
    }
    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }
    .links, .actions{
        display: none;
    }
    .menu-links{
        list-style-type: none;
    }
    .menu-links a{
        display: block;
        text-decoration: none;
        color: var(--color-text-secondary);
        padding: .75rem 1rem;
    }
    .menu-actions{
        display: flex;
        justify-content: space-between;
        padding: .75rem 1rem;
    }
    #menu-contact-btn{
        text-decoration: none;
        color: #fcfcfc;
        background-color: var(--color-accent-secondary);
        padding: .5rem 4rem;
        border-radius: 40px;
        font-weight: 300;
    }
    .menu{
        max-width: 700px;
        max-height: 600px;
    }
    body.open .menu{
        height: fit-content;
        overflow:hidden;
        position: fixed;
        top: calc(var(--header-height) + calc(var(--gap) * 2)) ;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        gap: 1rem;
        border-radius: 25px;
        padding: 25px;
        box-sizing: border-box;
        text-align: left;
        background-color: var(--color-bg-secondary);
        box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
        width: 100%;
    }
    #menu-theme-switch i:last-child {
        display: none;
    }
    .lightmode #menu-theme-switch i:first-child {
        display: none;
    }
    .lightmode #menu-theme-switch i:last-child {
        display: block;
    }
    #home, #services, #faq, #contact{
        padding: 2rem 2.5rem;
    }
    /* hero */
    .hero-section{
        gap: 3rem;
    }
    .hero-intro{
        gap: 3rem;
    }
    .hero-content{
        flex-direction: column-reverse;
        gap: 2rem;
        width: 100%;
    }
    .intro-text{
        width: 100%;
    }
    .description{
        gap: 2rem;
    }
    .description p{
        max-width: 100%;
    }
    .logo{
        width: 100%;
    }
    .logo img{
        width: 35%;
        border-width: 10px;
    }
    /* services */
    .services-section{
        gap: 30px;
    }
    .services-header{
        gap: 0;
        line-height: 1.5;
    }
    .services-cards{
        flex-direction: column;
        gap: 20px;
    }
    .card{
        max-width: 100%;
        min-height: fit-content;
        padding: 2rem;
    }
    .card-content{
        flex-direction: row;
        gap: 40px;
    }
    .card-content i{
        height: fit-content;
    }
    .service-btn{
        text-align: center;
    }
    /* faq */
    .faq-section{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .faq-header{
        width: 100%;
        text-align: center;
        line-height: 1.5;
    }
    .faq-header h3{
        text-align: center;
    }
    .faq-right svg{
        display: none;
    }
    /* contact */
    .contact-section{
        flex-direction: column;
        gap: 30px;
    }
    .contact-left{
        max-width: 100%;
    }
}
/* @media (max-width: 1280px) {} */