@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::selection{
    background-color: #a8a8a834;
    color: var(--color-accent-primary);
}
:root{
    /* background */
    --color-bg-primary: #161616;
    --color-bg-secondary: #212121;
    --color-bg-secondary-transparent: #212121e0;
    --color-bg-enable: #116831;
    --color-bg-disable: #FFC7C8;
    --color-bg-muted: #2C2C2C;
    /* text */
    --color-text-primary: #FCFCFC;
    --color-text-secondary: #CFCFCF;
    --color-text-tertiary: #919191;
    --color-text-muted: #A8A8A8;
    --color-text-enable: #2CFFA7;
    --color-text-disable: #AD0003;
    --weight-semiBold: 600;
    --weight-medium: 500;
    /* buttons */
    --color-text-btn: #FCFCFC;
    --color-accent-primary: #006DFF;
    --color-accent-secondary: #3E3E3E;
    --color-bg-btn: #3E3E3E;

    --header-height: 70px;
    --gap: 10px;
}
.lightmode{
    /* background */
    --color-bg-primary: #f0f0f0;
    --color-bg-secondary: #fcfcfc;
    --color-bg-secondary-transparent: #fcfcfce0;
    --color-bg-enable: #116831;
    --color-bg-disable: #FFC7C8;
    --color-bg-muted: #F0F0F0;
    /* text */
    --color-text-primary: #161616;
    --color-text-secondary: #484848;
    --color-text-tertiary: #373737;
    --color-text-muted: #515151;
    --color-text-enable: #2CFFA7;
    --color-text-disable: #AD0003;
    --weight-semiBold: 600;
    --weight-medium: 500;
    /* buttons */
    --color-text-btn: #FCFCFC;
    --color-accent-primary: #8739FA;
    --color-accent-secondary: #373737;
    --color-bg-btn: #515151;
}
*{
    padding: 0;
    margin: 0;
    font-family: inherit;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--header-height) + calc(var(--gap)*2));
}
body{
    margin-top: calc(var(--header-height) + var(--gap));
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-bg-primary);
    padding: var(--gap);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text-primary);
    gap: var(--gap);
    transition: all .2s;
}
header, main, footer{
    width: 100%;
    max-width: 1255px;
    box-sizing: border-box;
}
header, #home, #services, #faq, #contact, footer{
    background-color: var(--color-bg-secondary);
    border-radius: 25px;
    padding: 40px 60px;
}
/* header */
header{
    display: flex;
    top: 0;
    margin-top: var(--gap);
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    transition: box-shadow .1s ease-in-out;
    height: var(--header-height);
    width: calc(100% - calc(var(--gap) * 2));
}
header.scrolled{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    background-color: var(--color-bg-secondary-transparent);
    backdrop-filter: blur(10px);
}
#logo{
    color: var(--color-text-primary);
    text-decoration: none;
    font-size: 1.56rem;
    font-weight: var(--weight-semiBold);
}
.menu{
    max-height: 0;
    overflow: hidden;
    transition: all .3s cubic-bezier(0.4,0,0.2,1);
    position: fixed;
    padding: 0;
    background-color: transparent;
}
.links{
    display: flex;
    gap: 35px;
    height: auto;
}
.links li{
    list-style: none;
}
.links a{
    color: var(--color-text-secondary);
    text-decoration: none;
    font-size: 18px;
    transition: all .3s ease-in-out;
}
.links a:hover{
    color: var(--color-accent-primary);
}
.actions{
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 25px;
}
#contact-btn{
    text-decoration: none;
    color: var(--color-text-btn);
    background-color: var(--color-accent-secondary);
    padding: 7px 15px;
    border-radius: 30px;
    font-size: 1.125rem;
    font-weight: var(--weight-medium);
    border: solid 3px transparent;
    background-clip: padding-box;
    transition: all .2s ease-in-out;
    transition: .01s;
}
#contact-btn:hover{
    box-shadow: 0px 0px 0px 1px var(--color-bg-btn);
}
#contact-btn:active{
    transform: scale(.98);
}
#theme-switch{
    color: var(--color-text-primary);
    background: none;
    border: none;
    transition: color .2s ease-in-out;
}
#theme-switch i{
    font-size: 2.375rem;
    cursor: pointer;
}
#theme-switch:hover{
    color: var(--color-text-secondary);
}
#theme-switch i:last-child{
    display: none;
}
.lightmode #theme-switch i:first-child{
    display: none;
}
.lightmode #theme-switch i:last-child{
    display: block;
}
/* main */
main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-section{
    background-color: var(--color-bg-secondary);
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 150px;
}
.status{

}
.status::before{
    content: "·";
    font-size: 4rem;
    animation: blink 2s infinite alternate;
    animation-delay: 1s;
    opacity: 1;
    color: green;
}

@keyframes blink {
    0% {
        text-shadow: #116831 0 0 10px;
        transform: scale(1);
        opacity: .75;
    }
    100% {
        text-shadow: #116831 0 0 25px;
        transform: scale(2);
        opacity: .25;
    }
}
.hero-intro{
    display: flex;
    flex-direction: column;
    gap: 80px; 
}
.hero-content{
    display: flex;
    flex: row;
    justify-content: space-between;
}
.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    height: auto;
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
}
.welcome-text{
    color: var(--color-text-tertiary);
    font-size: 1.625rem;
    font-weight: var(--weight-semiBold);
}
.name-title h1 {
    color: var(--color-text-primary);
    font-size: 3.625rem;
    font-weight: var(--weight-semiBold);
}
.name-title h2{
    color: var(--color-text-secondary);
    font-size: 2.375rem;
    font-weight: var(--weight-medium);
}
.description{
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.description p{
    max-width: 570px;
    color: var(--color-text-muted);
    font-size: 1.125rem;
}
.buttons{
    display: flex;
    gap: 50px;
}
.btn{
    text-decoration: none;
    color: var(--color-text-primary);
    padding: 15px 25px;
    border-radius: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    border: solid 4px transparent;
    background-clip: padding-box;
    transition: box-shadow .2s ease-in-out;
}
.btn:active{
    transform: scale(.98);
    transition: .05s ease-in-out;
}
.btn-secondary:hover{
    box-shadow: 0px 0px 0px 2px var(--color-bg-btn);
}
.btn-primary:hover{
    box-shadow: 0px 0px 0px 2px var(--color-accent-primary);
}
.btn-secondary{
    background-color: var(--color-accent-secondary);
    color: var(--color-text-btn);
}
.btn i{
    font-size: 30px;
}
.btn i:last-child{
    display: none;
}
.btn:hover i:first-child{
    display: none;
}
.btn:hover i:last-child{
    display: block;
}
.btn-primary{
    background-color: var(--color-accent-primary);
    color: var(--color-text-btn);
}
.logo img{
    width: 350px;
    border-radius: 100%;
    border: 15px solid var(--color-bg-muted);
}
.tools{
    display: flex;
    justify-content: space-between;
}
.tool{
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-text-secondary);
}
.tool i{
    font-size: 3.438rem;
}
.services-section{
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.services-header{
    text-align: center;
}
.services-header h3{
    font-size: 1.625rem;
    color: var(--color-text-secondary);
    font-weight: var(--weight-medium);
}
.services-header h2{
    font-size: 2.75rem;
    color: var(--color-text-primary);
    font-weight: var(--weight-semiBold);
}
.services-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.card{
    width: 100%;
    max-width: 330px;
    height: 100%;
    min-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px 40px 25px;
    background-color: var(--color-bg-muted);
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
}
.service-btn{
    background-color: var(--color-accent-primary);
    padding: 15px 20px;
    border-radius: 40px;
    text-decoration: none;
    font-size: 1.375rem;
    color: var(--color-text-btn);
    border: solid 4px transparent;
    background-clip: padding-box;
    transition: all .2s ease-in-out;
}
.service-btn:hover{
    box-shadow: 0px 0px 0px 2px var(--color-accent-primary);
}
.service-btn:active{
    transform: scale(.98);
    transition: .05s ease-in-out;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}
.card-content p{
    font-size: 1rem;
    color: var(--color-text-secondary);
}
.card-header{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.card-header i{
    font-size: 1.25rem;
    background-color: var(--color-bg-btn);
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    color: var(--color-text-btn);
}
.card-header h4{
    font-weight: var(--weight-semiBold);
    color: var(--color-text-primary);
    font-size: 2rem;
    width: 90%;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
.footer-copy{
    font-size: 1.25rem;
}
.footer-socials{
    display: flex;
    gap: 30px;
}
.footer-socials a{
    text-decoration: none;
    color: var(--color-text-primary);
}
.footer-socials i{
    font-size: 35px;
}
.footer-socials a:nth-child(1):hover{
    color: #006eab;
    transition: .3s;
}
.footer-socials a:nth-child(2):hover{
    color: #6e5494;
    transition: .3s;
}
.footer-socials a:nth-child(3):hover{
    color: #d62976;
    transition: .3s;
}
.footer-socials a:hover i{
    animation: slide-in-top .5s both;
}
@keyframes slide-in-top {
    0% {
        transform: translateY(-15px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.faq-section{
    display: flex;
}
.faq-left{
    display: flex;
    flex-direction: column;
    max-width: 610px;
    width: 100%;
    gap: 20px;
}
.faq-right{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.faq-item{
    border-radius: 20px;
    background-color: var(--color-bg-muted);
    padding: 20px 30px;
    transition: .4s ;
}
.faq-question{
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 29px;
}
.faq-icon{
    font-size: 1.875rem;
    transition: .4s;
    font-weight: 100;
    margin-left: 5px;
}
.faq-icon:hover{
    cursor: pointer;
}
.faq-item.open .faq-icon {
    transform: rotate(45deg);
}
.faq-answer {
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    color: var(--color-text-secondary);
    transition: .4s cubic-bezier(0.4, 0, 0.2, 1);
}
.faq-answer a{
    color: var(--color-accent-primary);
}
.faq-item.open .faq-answer {
    max-height: 220px;
}
.faq-item.open .faq-answer{
    margin-top: 15px;
}
.faq-right h2{
    font-size: 2.5rem;
    font-weight: var(--weight-semiBold);
}
.recolor-svg{
    fill: var(--color-accent-primary);
    transition: .2s;
}
.contact-section{
    display: flex;
    justify-content: space-between;
}
.contact-left{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    gap: 10px;
}
.contact-left h2{
    font-size: 40px;
    font-weight: var(--weight-semiBold);
    color: var(--color-text-primary);
    line-height: 49px;
}
.contact-desc{
    color: var(--color-text-secondary);
    font-size: 1rem;
    font-weight: normal;
}